<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<akka>
		<hocon>
			<![CDATA[
				akka {
					actor.logLevel = DEBUG
					
					persistence {
						journal {

							# Path to the journal plugin to be used
							plugin = "akka.persistence.journal.entityFramework"

							# Entity Framework journal plugin.
							entityFramework {

								# Class name of the plugin.
								class = "Akka.Persistence.EntityFramework.Journal.EntityFrameworkJournal, Akka.Persistence.EntityFramework"

								# Dispatcher for the plugin actor.
								plugin-dispatcher = "akka.actor.default-dispatcher"
							}
						}
					}
				}
			]]>
		</hocon>
	</akka>
	<connectionStrings>
		<add name="JournalContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Chanan Braunstein\Documents\akka\akka.net-persistence-ef\Persistence Example\bin\Debug\example.mdf';Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>